<nav class="navbar is-dark" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/list">
      <img src="/app/assets/icon.png" style="max-height: 2.5rem;">
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <button routerLink="/help" class="button is-small">
          <span class="icon is-small">
            <i class="fas fa-question-circle"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</nav>
<section class="section">
  <router-outlet></router-outlet>
</section>