<div *ngIf="foundTracking.length" class="section">
  <h2>Found Tracking Numbers</h2>
  <table class="table is-fullwidth">
    <tbody>
      <tr *ngFor="let tracking of foundTracking">
        <td>
          <p class="is-size-7">
            {{ tracking.courier.name }}<br>
            {{ tracking.trackingNumber }}
          </p>
        </td>
        <td>
          <button (click)="add(tracking)" class="button is-small">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="section">
  <nav class="level is-mobile">
    <div class="level-left">
      <h2 class="level-item">Saved Tracking Numbers</h2>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button (click)="refreshTracking()" class="button is-small">
          <span class="icon is-small">
            <i class="fas fa-sync"></i>
          </span>
        </button>
      </div>
    </div>
  </nav>
  <div *ngIf="storedTracking.length; else nothingStored" class="container">
    <table class="table is-fullwidth">
      <tr *ngFor="let tracking of storedTracking">
        <td>
          <p class="is-size-7">
            {{ tracking.courier.name }}<br>
            <a *ngIf="tracking.trackingUrl; else noTrackingUrl" (click)="visit(tracking)">
              {{ tracking.label || tracking.trackingNumber }}
            </a>
            <ng-template #noTrackingUrl>{{ tracking.trackingNumber }}</ng-template>
          </p>
        </td>
        <td>
          <p class="is-size-7">
            <span *ngIf="tracking.status; else statusLoading">{{ tracking.status }}</span>
            <ng-template #statusLoading><i class="fa fa-spinner fa-pulse fa-fw"></i></ng-template>
          </p>
        </td>
        <td>
          <div class="field is-grouped">
            <button (click)="edit(tracking)" class="button is-small">
              <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span>
            </button>
            <delete-confirm [tracking]="tracking" (confirmed)="remove($event)"></delete-confirm>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <ng-template #nothingStored><div class="container"><p class="is-size-7">None Yet</p></div></ng-template>
</div>

<tracking-edit *ngIf="editing" [tracking]="editing" (done)="doneEditing()"></tracking-edit>