<h1>Hey9</h1>
<div class="container">
  <div *ngFor="let tracking of foundTracking" class="columns is-mobile">
    <div class="column"><p>{{ tracking.trackingNumber }}</p></div>
    <div class="column">
      <button (click)="add(tracking)" class="button is-small">
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
      </button>
    </div>
  </div>
  <h2>Stored ({{ storedTracking.length }})</h2>
  <p *ngFor="let tracking of storedTracking">{{ tracking.courierCode }} <a (click)="remove(tracking)">remove</a></p>
</div>
