<form [formGroup]="addForm" (ngSubmit)="saveTracking(addForm.value)">
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Manual Entry</p>
        <button type="button" class="delete" aria-label="close" (click)="close()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Package Name</label>
          <div class="control">
            <input class="input" type="text" formControlName="label">
          </div>
        </div>
        <div class="field">
          <label class="label">Tracking Number</label>
          <div class="control">
            <input class="input" type="text" formControlName="trackingNumber">
            <p>{{ trackingNumber.errors | json }}</p>
            <div *ngIf="trackingNumber.invalid && (trackingNumber.dirty || trackingNumber.touched)">
              <p *ngIf="trackingNumber.required" class="help is-danger">This tracking number is required</p>
              <p *ngIf="trackingNumber.errors" class="help is-danger">This tracking number is invalid</p>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit" [disabled]="!addForm.valid">Save</button>
      </footer>
    </div>
  </div>
</form>